@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
}
.bar {
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.nav-bar {
  background-color: #04013c;
  border-bottom: 1px solid #fff;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.nav-bar img {
  padding-left: 20px;
}
.nav-menu {
  background-color: #04013c;
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  transition: 600ms;
}
.nav-menu.active {
  left: 0%;
  transition: 300ms;
}
.nav-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.nav-text {
  display: flex;
  justify-content: start;
  width: 90%;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  align-items: center;
}
.nav-text a {
  text-decoration: none;
  color: white;
}
.nav-text a:hover {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.customerContainer {
  margin-left: 250px;
}
.customerContainer.active {
  margin-left: 20px;
}

.nav-text:hover {
  background-color: #21618c;
}
span {
  padding-left: 20px;
}

.row {
  border-bottom: 1px solid;
}
@media only screen and (max-width: 626px) {
  .nav-menu {
    width: 80px;
  }
  span {
    display: none;
  }
  .customerContainer {
    margin-left: 100px;
  }
}
